{% extends 'base.html.twig' %}

{% block title %}Diosso Tourisme - Explorez le Congo-Brazzaville avec Nos Services Sur Mesure{% endblock %}

{% block meta_description %}
    Diosso Tourisme vous accompagne dans l'exploration du Congo-Brazzaville avec des services uniques : réservation de transports, hébergements, activités, et bien plus. Découvrez la beauté naturelle et culturelle du Congo avec un site innovant et facile à utiliser.
{% endblock %}

{% block body %}

<section class="under-hero">
   <div class="container">
        <ul>
            <li><a href="#" class="active">Congo Brazzaville</a></li>
            <li><a href="#">Que voir, que faire?</a></li>
            <li><a href="#">Quand partir?</a></li>
            <li><a href="#">Découvrir</a></li>
            <li><a href="#">Voyager</a></li>
            <li><a href="#">Photos</a></li>
        </ul>
    </div> 
</section>

<section class="congo-brazzaville">
    <div class="container">
                <h2>Le Congo-Brazzaville : Une Terre d'Exception</h2>
                <h3>Les Trésors Naturels</h3>
        <p>
            Le congo-Brazzaville se situe sur les rives du deuxième puissant fleuve du monde après l'amazonie.
            Découvrez les plages désertes de sable fin, bordées de mangroves, qui côtoient 
            les gorges de latérite aux rouges intenses dans le sud. Explorez les forêts 
            primaires exubérantes du nord, la savane arbustive à perte de vue des <a href="#">plateaux 
            Batékés</a>, et les parcs et réserves animalières méconnus mais riches en espèces rares, comme :
        
        <ul>
            <li><a href="#">La réserve du Mont Fouari</a></li>
            <li><a href="#">Le parc national de Nouabalé-Ndoki</a></li>
        </ul></p>

        <p><span>Deux Capitales Contrastées</span>
            Le Congo-Brazzaville, c'est aussi un contraste saisissant entre 
            <a href="#">Brazzaville</a>, capitale politique et affairée, et 
            <a href="#">Pointe-Noire</a>, l'industrielle, véritable poumon économique grâce à 
            ses pétrodollars. Ces deux villes incarnent le dynamisme et les enjeux du pays.
            Quelle que soit la manière d'aborder la République du Congo, ou, pour les intimes, ses paysages belles à couper le souffle invitent à :
            Défricher les voies inconnues,s'affranchir des idées reçues, explorer une Afrique centrale sauvage et profonde</li>
        </p>

        <p><span>Un Peuple Unique</span>
            Au-delà de la beauté naturelle, le Congo offre l'extrême vitalité d'un peuple vibrant, 
            attachant et philosophe. Ce bonheur de vivre, aucune description ou guide touristique 
            ne pourra pleinement le retranscrire. Le Congo, encore méconnu, mérite au moins un voyage. Alors, laissez vos hésitations 
            de côté et partez à la rencontre de cette destination unique au cœur de l'Afrique centrale.
        
        </p>
    </div>
</section>

<section class="que-voir-que-faire">
    <div class="container">
    <h2>Que voir, que faire au Congo Brazzaville?</h2>
   
    <div class="que-voir-button">
            <a href="#reserver-activite">
            <button><i class="fa-solid fa-person-hiking"></i>Réserver une activité</button>
            </a>

            <a href="#voyager-sur-mesure">
            <button><i class="fa-solid fa-plane-departure"></i>Voyager sur mesure</button>
            </a>

            <a href="#trouver-hebergement">
            <button><i class="fa-solid fa-person-hiking"></i>Trouver un hébergement</button>
            </a>

            <a href="#plus-belles-villes">
            <button><i class="fa-solid fa-city"></i>Les plus belles villes</button>
            </a>
    </div>


    <div class="que-voir-grid">
        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-parc.jpg" alt="parc image">
            <span>Que visiter au Congo?</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-vestige.jpg" alt="vestige image">
            <span>Les trésors cachés du Congo</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-culture.jpg" alt="culture image">
            <span>Plongez au cœur de la culture congolaise</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-aventure.jpg" alt="aventure image">
            <span>Aventures inoubliables au cœur de la nature</span>
            </a>
        </div>
    </div>
</section>

<section class="quand-partir">
    <div class="container">
        <h2>Quand partir au Congo : Quelle est la meilleure période ?</h2>
    <p>Il est essentiel de définir vos objectifs de voyage. La réponse dépend en grande partie des activités prévues.
        Le Congo bénéficie de deux principales saisons sèches et de deux saisons des pluies:</p>

    <span>Les saisons sèches :</span>
        De Janvier à février, c’est la petite saison sèche. Les températures chaudes oscillant entre 30°C et 35°C.
        Idéal pour les déplacements par voie routière, car les routes sont plus praticables.
        Par contre. 
        De mai à septembre, les températures plus modérées et conditions idéales pour voyager en toute sérénité.
        Attention toutefois au ciel gris laiteux, qui peut rendre les paysages moins attrayants visuellement.

    <span>Les saisons  de pluies :</span>
        La période  de Mars et avril, les pluies sont fréquentes et orageuses d’une grande intensité.
        De et Octobre à décembre on observe des orages spectaculaires et une humidité élevée.


    <p>Le Congo peut être visité toute l’année, mais la grande saison sèche de mai à septembre est souvent considérée comme la plus confortable pour les déplacements et les excursions. Cependant, si vous recherchez des paysages plus verdoyants et pittoresques, les saisons des pluies offrent un charme unique malgré les défis logistiques.</p>

    <button>En savoir plus</button>
    </div>
</section>

<section class="les-adresses">
    <div class="container">
        <h2>Les meilleurs adresses du Congo Brazzaville</h2>
        <div class="divider"></div>
        <div class="container-slider swiper-container">
            <div class="slider-wrapper swiper-wrapper">
                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/agence-de-voyage.jpg" alt="agence-de-voyage">
                    <span>Les meilleures agences de voyages</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/hôtels.jpg" alt="hôtel">
                    <span>Hôtels à découvrir</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/restaurants.jpg" alt="restaurants">
                    <span>Restaurants incontournables</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/boutiques.jpg" alt="shopping">
                    <span>Centres commerciaux et boutiques</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/activités-sportives.jpg" alt="activites">
                    <span>Activités et loisirs</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/soins.jpg" alt="soins">
                    <span>Les meilleurs soins</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/taxi.jpg" alt="transports">
                    <span>Options de transport</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/sorties.jpg" alt="musees">
                    <span>Musées et galeries d'art</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/évenements.jpg" alt="spectacles">
                    <span>Spectacles et événements</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/services.jpg" alt="services">
                    <span>Les meilleurs services</span>
                </a>
                </div>

                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/bon-plans.jpg" alt="spectacles">
                    <span>Les bons plans</span>
                </a>
                </div>
                    
                <div class="card-list swiper-slide">
                <a href="#">
                    <img src="/img/adresses/parcs.jpg" alt="parcs">
                    <span>Les parcs nationaux</span>
                </a>
                </div>
            </div>
            <!-- Ajout des boutons de navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <!-- Pagination (facultatif) -->
            <div class="swiper-pagination"></div>
        </div>
    <div>
</section>

<section class="voyager">
    <div class="container">
        <h2>Voyager au Congo</h2>
        <h3>Infos pratiques pour voyager au Congo</h3>
        <p>La République du Congo, avec ses villes emblématiques comme Brazzaville et Pointe-Noire, est une destination qui fascine par sa diversité naturelle. Entre ses vastes parcs nationaux et ses réserves préservées, ce pays offre un terrain de jeu idéal pour les amateurs de faune et de grands espaces. En profitant d'un séjour d'au moins 15 jours, vous aurez l'opportunité de vous émerveiller devant des gorilles majestueux, d'admirer des éléphants en pleine liberté, d'observer des buffles dans leur habitat et même de partager un moment privilégié avec des chimpanzés en les nourrissant."</p>
        <p>Au nord-ouest du Congo, le parc d’Odzala recèle l’une des plus grandes forêts encore intactes de la planète, abritant une nature d'une incroyable diversité. En plus d’observer sa faune exceptionnelle, vous pourrez aller à la rencontre des autochtones et découvrir leur culture. Au sud, le littoral maritime invite au farniente sur les belles plages de Pointe-Noire.</p>
        <p>Tout au long de l’année, on peut y observer plusieurs espèces de tortues marines. Au large des côtes, en saison sèche, les baleines à bosse, quant à elles, offrent des spectacles saisissants.</p>

        <div class="que-voir-button">
            <a href="#reserver-activite">
            <button><i class="fa-solid fa-bed"></i>Trouver un hôtel</button>
            </a>

            <a href="#voyager-sur-mesure">
            <button><i class="fa-solid fa-car"></i>Location voiture</button>
            </a>

            <a href="#trouver-hebergement">
            <button><i class="fa-solid fa-phone-volume"></i>Forfait-SIM</button>
            </a>

            <a href="#plus-belles-villes">
            <button><i class="fa-brands fa-wpforms"></i>Formalités</button>
            </a>
            <a href="#plus-belles-villes">
            <button><i class="fa-solid fa-money-check-dollar"></i></i>Budget</button>
            </a>
            <a href="#plus-belles-villes">
            <button><i class="fa-solid fa-utensils"></i>Gastronomie</button>
            </a>
            <a href="#plus-belles-villes">
            <button><i class="fa-regular fa-clock"></i> Horaires</button>
            </a>
            <a href="#plus-belles-villes">
            <button><i class="fa-solid fa-bus"></i>Se déplacer</button>
            </a>
        </div>

        <div class="voyager-idees">
            <h2>Les idées de séjour</h2>
            <div class="voyager-grid">
                <div class="voyager-car">
                    <div class="image-content">
                        <img src="/img/voyager/voyager1.jpg" alt="photo de lion" class="overlay">
                    </div>
                
                    <div class="card-content">
                        <p class="name">Ndinga day trip tour</p>
                        <p>Budget: <span class="color-blue">€</span> 500</p>
                        <span><i class="fa-solid fa-clock"></i> 1 jours</span>
                        <button class="btn-card">En savoir plus</button>
                    </div>
                </div>  

                <div class="voyager-car">
                    <div class="image-content">
                        <img src="/img/voyager/voyager2.jpg" alt="photo de chute" class="overlay">
                    </div>
                
                    <div class="card-content">
                        <p class="name">River speedboat tour</p>
                        <p>Budget: <span class="color-blue">€</span> 500</p>
                        <span><i class="fa-solid fa-clock"></i> 1 jours</span>
                        <button class="btn-card">En savoir plus</button>
                    </div>
                </div>  
                <div class="voyager-car">
                    <div class="image-content">
                        <img src="/img/voyager/voyager3.jpg" alt="photo d'éléphant" class="overlay">
                    </div>
                
                    <div class="card-content">
                        <p class="name">Parc du Niari tour</p>
                        <p>Budget: <span class="color-blue">€</span> 700</p>
                        <span><i class="fa-solid fa-clock"></i> 2 jours</span>
                        <button class="btn-card">En savoir plus</button>
                    </div>

                    <button class="btn-card-down">Plus d'idées de séjour</button>
                </div>  
            </div>
        </div>
    
    </div>

</section>

<section class="decouvrer">
    <div class="container">
        <div class="decouvrer-content">
            <h2>Découvrez le Congo</h2>
            <h3>Un joyau méconnu au cœur de l'Afrique centrale</h3>
            <p>Le Congo, pays chargé d'histoire et de richesses naturelles, est une destination encore méconnue mais pleine de promesses. Habité dès la Préhistoire par les Akas, le territoire a vu l'arrivée des ethnies bantoues, suivies des explorateurs portugais qui instaurèrent tristement le commerce d’esclaves. À la fin du XIXe siècle, l’explorateur Savorgnan de Brazza convainc le royaume local de nouer des alliances avec la France, ouvrant la voie à la colonisation.
            </p>
            <p>Sous domination des compagnies privées, la population locale subit de lourdes exactions, un scandale qui marquera l’histoire du pays. En 1960, le Congo accède à son indépendance, mais les décennies suivantes sont marquées par des rivalités politiques et des conflits civils. Depuis la fin des années 1990, le pays s'efforce de tourner la page, misant sur des secteurs comme le pétrole et le bois pour relancer son économie.</p>
            <p>Malgré ces défis, le Congo possède un patrimoine naturel exceptionnel. Des forêts denses abritant une biodiversité unique, des parcs nationaux protégés, et des paysages spectaculaires offrent un potentiel énorme pour l'écotourisme. Cependant, le développement du tourisme reste freiné par des infrastructures limitées et des coûts élevés.</p>
            <p>Conscient de l’importance de préserver son environnement tout en améliorant la qualité de vie des populations locales, le Congo aspire aujourd’hui à devenir une destination phare de l’écotourisme. Ce projet repose sur la mise en valeur de ses atouts naturels, la protection de son écosystème et l’implication active des communautés locales dans des initiatives durables.</p>
            <p>Visiter le Congo, c'est explorer une terre sauvage au cœur de l'Afrique centrale, où histoire et nature se mêlent pour offrir une expérience inoubliable. Prêt à découvrir ce trésor caché ?</p>
        </div>

        <div class="decouvrer-img">
            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/sape.jpg" alt="sape image">
                <span>La sape</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/environnement.jpg" alt="environnement image">
                <span>L'environnement</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/gastronomie.jpg" alt="Gastronomie image">
                <span>La Gastronomie</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/biodiversite.jpg" alt="biodiversité image">
                <span>La biodiversité</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/geographie.jpg" alt="géographie image">
                <span>La géographie</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/beaux-arts.jpg" alt="beaux-arts image">
                <span>La Beaux arts</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/musique.jpg" alt="musique image">
                <span>La musique</span>
                </a>
            </div>

            <div class="que-voir-card">
                <a href="#">
                <img src="/img/decouvrir/climat.jpg" alt="climat image">
                <span>Le climat</span>
                </a>
            </div>
        </div>
    </div>
</section>







{% endblock %}


