{% extends 'base.html.twig' %}

{% block title %}Diosso Tourisme - Explorez le Congo-Brazzaville avec Nos Services Sur Mesure{% endblock %}

{% block meta_description %}
    Diosso Tourisme vous accompagne dans l'exploration du Congo-Brazzaville avec des services uniques : réservation de transports, hébergements, activités, et bien plus. Découvrez la beauté naturelle et culturelle du Congo avec un site innovant et facile à utiliser.
{% endblock %}

{% block body %}

<section class="under-hero">
   <div class="container">
        <ul>
            <li><a href="#" class="active">Congo Brazzaville</a></li>
            <li><a href="#">Que voir, que faire?</a></li>
            <li><a href="#">Quand partir?</a></li>
            <li><a href="#">Découvrir</a></li>
            <li><a href="#">Voyager</a></li>
            <li><a href="#">Photos</a></li>
        </ul>
    </div> 
</section>

<section class="congo-brazzaville">
    <div class="container">
                <h2>Le Congo-Brazzaville : Une Terre d'Exception</h2>
                <h3>Les Trésors Naturels</h3>
        <p>
            Le congo-Brazzaville se situe sur les rives du deuxième puissant fleuve du monde après l'amazonie.
            Découvrez les plages désertes de sable fin, bordées de mangroves, qui côtoient 
            les gorges de latérite aux rouges intenses dans le sud. Explorez les forêts 
            primaires exubérantes du nord, la savane arbustive à perte de vue des <a href="#">plateaux 
            Batékés</a>, et les parcs et réserves animalières méconnus mais riches en espèces rares, comme :
        
        <ul>
            <li><a href="#">La réserve du Mont Fouari</a></li>
            <li><a href="#">Le parc national de Nouabalé-Ndoki</a></li>
        </ul></p>

        <p><span>Deux Capitales Contrastées</span>
            Le Congo-Brazzaville, c'est aussi un contraste saisissant entre 
            <a href="#">Brazzaville</a>, capitale politique et affairée, et 
            <a href="#">Pointe-Noire</a>, l'industrielle, véritable poumon économique grâce à 
            ses pétrodollars. Ces deux villes incarnent le dynamisme et les enjeux du pays.
            Quelle que soit la manière d'aborder la République du Congo, ou, pour les intimes, ses paysages belles à couper le souffle invitent à :
            Défricher les voies inconnues,s'affranchir des idées reçues, explorer une Afrique centrale sauvage et profonde</li>
        </p>

        <p><span>Un Peuple Unique</span>
            Au-delà de la beauté naturelle, le Congo offre l'extrême vitalité d'un peuple vibrant, 
            attachant et philosophe. Ce bonheur de vivre, aucune description ou guide touristique 
            ne pourra pleinement le retranscrire. Le Congo, encore méconnu, mérite au moins un voyage. Alors, laissez vos hésitations 
            de côté et partez à la rencontre de cette destination unique au cœur de l'Afrique centrale.
        
        </p>
    </div>
</section>

<section class="que-voir-que-faire">
    <div class="container">
    <h2>Que voir, que faire au Congo Brazzaville?</h2>
   
    <div class="que-voir-button">
            <a href="#reserver-activite">
            <button><i class="fa-solid fa-person-hiking"></i>Réserver une activité</button>
            </a>

            <a href="#voyager-sur-mesure">
            <button><i class="fa-solid fa-plane-departure"></i>Voyager sur mesure</button>
            </a>

            <a href="#trouver-hebergement">
            <button><i class="fa-solid fa-person-hiking"></i>Trouver un hébergement</button>
            </a>

            <a href="#plus-belles-villes">
            <button><i class="fa-solid fa-city"></i>Les plus belles villes</button>
            </a>
    </div>


    <div class="que-voir-grid">
        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-parc.jpg" alt="parc image">
            <span>Que visiter au Congo?</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-vestige.jpg" alt="vestige image">
            <span>Les trésors cachés du Congo</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-culture.jpg" alt="culture image">
            <span>Plongez au cœur de la culture congolaise</span>
            </a>
        </div>

        <div class="que-voir-card">
            <a href="#">
            <img src="/img/que-faire/grid-aventure.jpg" alt="aventure image">
            <span>Aventures inoubliables au cœur de la nature</span>
            </a>
        </div>
    </div>

</section>



{% endblock %}


