{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
    <h1>Choisissez vos newsletters</h1>

    <!-- Section pour afficher les messages flash -->
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }} mt-3">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    <!-- Formulaire -->
    {{ form(form) }}
{% endblock %}
