<body>
    <footer>
        <div class="container">
            <section class="newsletter">
                <div class="newsletter-content">
                    <label for="newsletter-input" class="newsletter-input">Newsletter</label>
                    <input type="email" name="email" id="newsletter-input" placeholder="votre email">
                </div>

                <div class="contact">
                    <h3>Contactez-nous</h3>
                    <ul>
                        <li>Disso Tourisme, votre guide pour découvrir les merveilles du pays</li>
                        <li><i></i>+ 242 06 05 772</li>
                        <li><a href="#"><i></i>info@diossotourisme.com</a></li>
                    </ul>
                </div>

                <div class="social-media">
                    <h3>Suivez nous</h3>
                    <ul>
                        <li><a href="#"><i></i>Facebook</a></li>
                        <li><a href="#"><i></i>Instagram</a></li>
                        <li><a href="#"><i></i>Youtube</a></li>
                        <li><a href="#"><i></i>Twitter</a></li>
                        <li><a href="#"><i></i>Pinterest</a></li>
                    </ul>
                </div>

                <div class="liens-populaires">
                    <h3>Liens populaires</h3>
                    <ul>
                        <li><a href="#">Congo</a></li>
                        <li><a href="#">Que faire?</a></li>
                        <li><a href="#">Quand partir?</a></li>
                        <li><a href="#">Découvrir</a></li>
                        <li><a href="#">Voyager</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>

                <div class="mentions">
                    <span class="divider"></span>
                    <ul>
                        <li>Mentions légales</li>
                        <li>Conditions d'utilisations</li>
                        <li>Politique de confidentialité</li>
                        <li>Sitemap</li>
                        <li>Copyright 2024 Lorem ipsum dolor sit amet consectetur, adipisicing elit</li>
                    </ul>
                </div>
            </section>
        </div>
    </footer>
</body>