<body>
    <footer class="footer">
        <div class="container">
            <div class="newsletter">
                <div class="newsletter-container">
                    <div class="newsletter-content">
                        <div>
                            <div class="newsletter-card">
                                <label for="newsletter-input" class="newsletter-label"><a href="/newsletter">Newsletter</a></label>
                                <input type="email" name="email" id="newsletter-input" placeholder="votre email">
                            </div>
                            <div class="contact">
                                <h3>Contactez-nous</h3>
                                <ul>
                                    <li>Disso Tourisme, votre guide pour découvrir les merveilles du pays</li>
                                    <li><i class="fa-solid fa-phone"></i> +242 06 05 772</li>
                                    <li class="email"><a href="/contact"><i class="fa-solid fa-envelope"></i> info@diossotourisme.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="newsletter-responsive">
                            <div class="social-media">
                                <h3>Suivez-nous</h3>
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest"></i> Pinterest</a></li>
                                </ul>
                            </div>
                            <div class="liens-populaires">
                                <h3>Liens populaires</h3>
                                <ul>
                                    <li><a href="#">Congo</a></li>
                                    <li><a href="#">Que faire?</a></li>
                                    <li><a href="#">Quand partir?</a></li>
                                    <li><a href="#">Découvrir</a></li>
                                    <li><a href="#">Voyager</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="mentions">
                    <span class="divider"></span>
                    <ul>
                        <li>Mentions légales</li>
                        <li>Politique de confidentialité</li>
                        <li>Copyright 2024 Lorem ipsum</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</body>