<body>
<div class="hero">
    <div class="container">
        <div class="hero-msg">
            <ul>
                <li>BIENVENUE CHEZ DIOSSO</li>
                <li>TOURISME</li>
            </ul>
            <button class="hero-btn">DEMANDER UN DEVIS</button>
        </div>
    </div>    
</div>
<div class="slider">
    <div class="list">
        <div class="item">
            <img src="/img/slides/img-1.jpg" alt="image 1">
        </div>
        <div class="item">
            <img src="/img/slides/img-2.jpg" alt="image 2">
        </div>
        <div class="item">
            <img src="/img/slides/img-3.jpg" alt="image 3">
        </div>
        <div class="item">
            <img src="/img/slides/img-4.jpg" alt="image 4">
        </div>
        <div class="item">
            <img src="/img/slides/img-5.jpg" alt="image 5">
        </div>
        <div class="item">
            <img src="/img/slides/img-6.jpg" alt="image 6">
        </div>
    </div>

    <!-- Button prev and next -->
    <div class="buttons">
        <button id="prev">&#10094</button>
        <button id="next">&#10095</button>
    </div>

    <!-- Dots( if 6 items => 6 dot) -->
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>
    
</body>