<body>
<header class="sticky-header">
    <div class="container">

        <div class="logo"><img src="img/icons/diosso-logo.png" alt="Logo"></div>

        <!-- Menus -->
        <nav>
            <ul>
                <li><a href="/" class="active">Accueil</a></li>
                <li><a href="#">Planifiez votre voyage</a></li>
                <li><a href="#">Nos offres</a></li>
                <li><a href="#">Activités à faire</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <div class="divider"></div>
                <li class="flag fr"><a href="#">Français<i><img src="img/icons/Fr-flag.png" alt="drapeau français"></i></a></li>
                <li class="flag us"><a href="#">English<i><img src="img/icons/US-flag.png" alt="English flag"></i></a></li>
                
            </ul>
        </nav>
            
        <div class="header-content">
            <!-- Version langues -->
            <div class="language-switcher">
                <a href="#" id="active-language" class="active">Français<i><img src="img/icons/Fr-flag.png" alt="drapeau français"></i></a>
                <ul class="flags" id="language-options">
                    <li><a href="#" data-lang="fr">Français<i><img src="img/icons/Fr-flag.png" alt="drapeau français"></i></a></li>
                    <li><a href="#" data-lang="en">English <i><img src="img/icons/US-flag.png" alt="drapeau anglais"></i></a></li>
                </ul>
            </div>


            <!-- Button of connexion -->
            <button class="btn">Se connecter</button>
        </div>

        <!-- Menu humburger -->
        <div class="header-responsive">
            <div><a class="singIn" href="#"><i class="fa-solid fa-user"></i></a></div>
            <div><a id="humburger" href="#"><i class="fa-solid fa-bars"></i></a></div>
        </div> 

        <!-- Boutons de connexion -->
        <div class="connect-buttons">
            <ul>
                <li><a href="#"><i class="fa-solid fa-user"></i> Se Connecter</a></li>
                <li><a href="#"><i class="fa-solid fa-user-plus"></i> Créer mon compte</a></li>
            </ul>
        </div>
 
    </div>
</header>
</body>

